
body {
    margin: 0;
    line-height: normal;
}
@media (max-device-width: 800px) {
    body {
        margin: 0;
        line-height: normal;
        width: fit-content;
    }
 }


:root {
    
    /* fonts */
    --font-lexend-giga: 'Lexend Giga';
    
    /* font sizes */
    --font-size-22xl-9: 41.9px;
    --font-size-15xl-1: 34.1px;
    --font-size-10xl-4: 29.4px;
    --font-size-base-7: 15.7px;
    --font-size-4xl-5: 23.5px;
    --font-size-xs-3: 11.3px;
    --font-size-5xl-1: 24.1px;
    --font-size-3xl-7: 22.7px;
    --font-size-lgi-6: 19.6px;
    --font-size-3xl-3: 22.3px;
    
    /* Colors */
    --color-white: #fff;
    --color-goldenrod: #f0ca5a;
    --color-black: #000;
    --color-ghostwhite: #f3f4fb;
    --color-darkslategray: #464141;
    
    /* Gaps */
    --gap-3xs: 10px;
    --gap-16xl: 35px;
    --gap-base: 16px;
    
    /* Paddings */
    --padding-xl: 20px;
    --padding-9xs: 4px;
    --padding-base: 16px;
    --padding-6xl: 25px;
    
    /* Border radiuses */
    --br-46xl: 65px;
    --br-3xl-7: 22.7px;
    --br-101xl-5: 120.5px;
    --br-5xl-2: 24.2px;
    --br-8xl-7: 27.7px;
    
}